<!DOCTYPE html>
<html html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Creating new Position</title>
</head>
<body>
<form th:method="POST" th:action="@{/posts}" th:object="${newPost}">
    <label for="name">Enter new position:</label>
    <input type="text" th:field="${newPost.position}" id="name">
    <br/>
    <label for="salary">Enter salary:</label>
    <input type="number" th:field="${newPost.salary}" id="salary">
    <br/>
    <input type="submit" value="Create!"/>

</form>
</body>
</html>